<mat-toolbar color="primary">
  <span>System Zarządzania Nawykami</span>
  <span style="flex:1 1 auto"></span>
  <span style="font-size: 1.1em; margin-right: 16px;">XP: {{ xp }}</span>
  <button mat-stroked-button color="warn" (click)="resetAll()" style="margin-left:16px">
    Resetuj wszystko
  </button>
</mat-toolbar>
<div class="main-container">
  <app-habit-form (habitAdded)="onHabitAdded($event)"></app-habit-form>
  <app-habits
    [habits]="habits"
    (habitToggled)="onHabitToggled($event)"
    (habitRemove)="onHabitRemove($event)">
  </app-habits>
  <app-wheel-of-motivation
    [canSpin]="allDoneToday && lastSpinDay !== today"
    (prizeWon)="onWheelPrize($event)">
  </app-wheel-of-motivation>
  <div class="badges" *ngIf="badges.length">
    <h3>Odznaki:</h3>
    <div class="badges-list">
      <span *ngFor="let badge of badges" class="badge" [title]="badge.description">
        {{badge.icon}} {{badge.name}}
      </span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- ANIMACJA ODZNAKI -->
<div
  class="badge-animation"
  *ngIf="newBadge"
>
  <div class="badge-popup">
    <div class="badge-emoji">{{ newBadge.icon }}</div>
    <div class="badge-title">Odznaka zdobyta!</div>
    <div class="badge-name">{{ newBadge.name }}</div>
    <div class="badge-desc">{{ newBadge.description }}</div>
  </div>
</div>